<!DOCTYPE html>
<html>
<head>
    <title>INLOGGAD</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Välkommen till min Express-app med EJS!</h1>
    <p>Aktuell tid: <%= new Date().toLocaleTimeString() %></p>


    <!-- Resten av din HTML-kod -->

</body>
</html>
